$link: #EA4136;
$secondary: #36B2EA;
$pressed: #EF7168;
$hover: #C41F14;
$primary-text: #202831;
$secondary-text: #9AA2AC;
$grey-beach: #CBD3DD;
$grey-low: #E5E9EE;
$success: #8FDD11;
$danger: #F7A502;
$error: #E83F33;
$background: #F4F4F6;
$success-low: #E4FAC0;
$danger-low: #FEE9BE;
$error-low: #F9CFCC;
$white: #FFFFFF;

$hover-transition-length: .3s;