<section class="popup contact">
    <div class="content">
        <div class="contact-dialog">
            <div class="contact-header">
                <svg class="logo" width="68" height="68" viewBox="0 0 68 68" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <rect width="68" height="68" fill="#EA4136"/>
                    <path d="M46.1048 15.4546H22.4572V21.0182H46.1048V15.4546Z" fill="white"/>
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M46.1048 21.0182H51.562V35.5978L46.1048 33.5728V21.0182ZM22.4572 21.0182V24.7978L17 22.7728V21.0182H22.4572Z"
                          fill="white"/>
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M50.2924 46.9819H46.1048H17V52.5455H51.562V47.453L50.2924 46.9819Z" fill="white"/>
                    <path d="M17 32.47V34.628L46.1048 45.428V39.5073L22.4572 30.7323L17 28.7073V32.47Z" fill="white"/>
                    <path d="M46.1048 39.5073V45.428L50.2924 46.9819H51.562V41.5323L46.1048 39.5073Z" fill="white"/>
                    <path d="M46.1048 45.428V46.9819H50.2924L46.1048 45.428Z" fill="white"/>
                    <path d="M51.562 47.453V46.9819H50.2924L51.562 47.453Z" fill="white"/>
                    <path d="M22.4572 15.4546H17V21.0182H22.4572V15.4546Z" fill="white"/>
                    <path d="M51.562 15.4546H46.1048V21.0182H51.562V15.4546Z" fill="white"/>
                </svg>
                <div class="info">
                    <p class="title">Contact Us</p>
                    <p class="font-titanium">Fill in the form, or if you prefer <a href="mailto:cooperation@artlavrik.com">send us an email</a></p>
                </div>
                <svg data-role="close" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.0007 10.5857L16.9507 5.63574L18.3647 7.04974L13.4147 11.9997L18.3647 16.9497L16.9507 18.3637L12.0007 13.4137L7.05072 18.3637L5.63672 16.9497L10.5867 11.9997L5.63672 7.04974L7.05072 5.63574L12.0007 10.5857Z"
                          fill="#CBD3DD"/>
                </svg>
            </div>
            <form action="/" class="contact-form" name="contact-from">
                <p class="name">I’m interested in...</p>
                <div class="list dropdown">
                    <div class="anchor">
                        <p class="font-titanium">Select the desired category</p>
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.83398 8.3335L10.0007 12.5002L14.1673 8.3335H5.83398Z" fill="#202831"/>
                        </svg>
                    </div>
                    <ul class="items font-titanium">
                        <li>
                            <svg width="28" height="28" viewBox="0 0 28 28" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M23 9.99996H19.27L20 6.17996C20.0236 6.04864 20.0212 5.91394 19.9928 5.78357C19.9643 5.6532 19.9105 5.5297 19.8344 5.42013C19.7582 5.31056 19.6613 5.21705 19.549 5.14496C19.4367 5.07287 19.3113 5.0236 19.18 4.99996C19.0487 4.97632 18.914 4.97878 18.7836 5.0072C18.6532 5.03561 18.5297 5.08943 18.4202 5.16557C18.3106 5.24172 18.2171 5.3387 18.145 5.45098C18.0729 5.56326 18.0236 5.68864 18 5.81996L17.23 9.99996H12.23L13 6.17996C13.0236 6.04864 13.0212 5.91394 12.9928 5.78357C12.9643 5.6532 12.9105 5.5297 12.8344 5.42013C12.6806 5.19884 12.4452 5.0477 12.18 4.99996C12.0487 4.97632 11.914 4.97878 11.7836 5.0072C11.6532 5.03561 11.5297 5.08943 11.4202 5.16557C11.1989 5.31935 11.0477 5.55474 11 5.81996L10.23 9.99996H7C6.73478 9.99996 6.48043 10.1053 6.29289 10.2929C6.10536 10.4804 6 10.7347 6 11C6 11.2652 6.10536 11.5195 6.29289 11.7071C6.48043 11.8946 6.73478 12 7 12H9.86L9.11 16H5C4.73478 16 4.48043 16.1053 4.29289 16.2929C4.10536 16.4804 4 16.7347 4 17C4 17.2652 4.10536 17.5195 4.29289 17.7071C4.48043 17.8946 4.73478 18 5 18H8.73L8 21.82C7.97412 21.9515 7.97495 22.0869 8.00243 22.2181C8.02992 22.3493 8.0835 22.4736 8.16 22.5837C8.23649 22.6938 8.33434 22.7873 8.44772 22.8589C8.5611 22.9304 8.6877 22.9784 8.82 23H9C9.23679 23.0038 9.46726 22.9235 9.65039 22.7734C9.83351 22.6232 9.9574 22.4129 10 22.18L10.77 18H15.77L15 21.82C14.9532 22.0798 15.0111 22.3475 15.161 22.5648C15.3108 22.7821 15.5405 22.9313 15.8 22.98L16 23C16.2368 23.0038 16.4673 22.9235 16.6504 22.7734C16.8335 22.6232 16.9574 22.4129 17 22.18L17.77 18H21C21.2652 18 21.5196 17.8946 21.7071 17.7071C21.8946 17.5195 22 17.2652 22 17C22 16.7347 21.8946 16.4804 21.7071 16.2929C21.5196 16.1053 21.2652 16 21 16H18.14L18.89 12H23C23.2652 12 23.5196 11.8946 23.7071 11.7071C23.8946 11.5195 24 11.2652 24 11C24 10.7347 23.8946 10.4804 23.7071 10.2929C23.5196 10.1053 23.2652 9.99996 23 9.99996ZM16.11 16H11.11L11.86 12H16.86L16.11 16Z"
                                      fill="#9AA2AC"/>
                            </svg>
                            <label for="NativeApp">
                                <input type="checkbox" name="NativeApp"/><span></span>Native app
                            </label>
                        </li>
                        <li>
                            <svg width="28" height="28" viewBox="0 0 28 28" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M23 9.99996H19.27L20 6.17996C20.0236 6.04864 20.0212 5.91394 19.9928 5.78357C19.9643 5.6532 19.9105 5.5297 19.8344 5.42013C19.7582 5.31056 19.6613 5.21705 19.549 5.14496C19.4367 5.07287 19.3113 5.0236 19.18 4.99996C19.0487 4.97632 18.914 4.97878 18.7836 5.0072C18.6532 5.03561 18.5297 5.08943 18.4202 5.16557C18.3106 5.24172 18.2171 5.3387 18.145 5.45098C18.0729 5.56326 18.0236 5.68864 18 5.81996L17.23 9.99996H12.23L13 6.17996C13.0236 6.04864 13.0212 5.91394 12.9928 5.78357C12.9643 5.6532 12.9105 5.5297 12.8344 5.42013C12.6806 5.19884 12.4452 5.0477 12.18 4.99996C12.0487 4.97632 11.914 4.97878 11.7836 5.0072C11.6532 5.03561 11.5297 5.08943 11.4202 5.16557C11.1989 5.31935 11.0477 5.55474 11 5.81996L10.23 9.99996H7C6.73478 9.99996 6.48043 10.1053 6.29289 10.2929C6.10536 10.4804 6 10.7347 6 11C6 11.2652 6.10536 11.5195 6.29289 11.7071C6.48043 11.8946 6.73478 12 7 12H9.86L9.11 16H5C4.73478 16 4.48043 16.1053 4.29289 16.2929C4.10536 16.4804 4 16.7347 4 17C4 17.2652 4.10536 17.5195 4.29289 17.7071C4.48043 17.8946 4.73478 18 5 18H8.73L8 21.82C7.97412 21.9515 7.97495 22.0869 8.00243 22.2181C8.02992 22.3493 8.0835 22.4736 8.16 22.5837C8.23649 22.6938 8.33434 22.7873 8.44772 22.8589C8.5611 22.9304 8.6877 22.9784 8.82 23H9C9.23679 23.0038 9.46726 22.9235 9.65039 22.7734C9.83351 22.6232 9.9574 22.4129 10 22.18L10.77 18H15.77L15 21.82C14.9532 22.0798 15.0111 22.3475 15.161 22.5648C15.3108 22.7821 15.5405 22.9313 15.8 22.98L16 23C16.2368 23.0038 16.4673 22.9235 16.6504 22.7734C16.8335 22.6232 16.9574 22.4129 17 22.18L17.77 18H21C21.2652 18 21.5196 17.8946 21.7071 17.7071C21.8946 17.5195 22 17.2652 22 17C22 16.7347 21.8946 16.4804 21.7071 16.2929C21.5196 16.1053 21.2652 16 21 16H18.14L18.89 12H23C23.2652 12 23.5196 11.8946 23.7071 11.7071C23.8946 11.5195 24 11.2652 24 11C24 10.7347 23.8946 10.4804 23.7071 10.2929C23.5196 10.1053 23.2652 9.99996 23 9.99996ZM16.11 16H11.11L11.86 12H16.86L16.11 16Z"
                                      fill="#9AA2AC"/>
                            </svg>
                            <label for="Ecommerce">
                                <input type="checkbox" name="Ecommerce"/><span></span>Ecommerce
                            </label>
                        </li>
                        <li>
                            <svg width="28" height="28" viewBox="0 0 28 28" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M23 9.99996H19.27L20 6.17996C20.0236 6.04864 20.0212 5.91394 19.9928 5.78357C19.9643 5.6532 19.9105 5.5297 19.8344 5.42013C19.7582 5.31056 19.6613 5.21705 19.549 5.14496C19.4367 5.07287 19.3113 5.0236 19.18 4.99996C19.0487 4.97632 18.914 4.97878 18.7836 5.0072C18.6532 5.03561 18.5297 5.08943 18.4202 5.16557C18.3106 5.24172 18.2171 5.3387 18.145 5.45098C18.0729 5.56326 18.0236 5.68864 18 5.81996L17.23 9.99996H12.23L13 6.17996C13.0236 6.04864 13.0212 5.91394 12.9928 5.78357C12.9643 5.6532 12.9105 5.5297 12.8344 5.42013C12.6806 5.19884 12.4452 5.0477 12.18 4.99996C12.0487 4.97632 11.914 4.97878 11.7836 5.0072C11.6532 5.03561 11.5297 5.08943 11.4202 5.16557C11.1989 5.31935 11.0477 5.55474 11 5.81996L10.23 9.99996H7C6.73478 9.99996 6.48043 10.1053 6.29289 10.2929C6.10536 10.4804 6 10.7347 6 11C6 11.2652 6.10536 11.5195 6.29289 11.7071C6.48043 11.8946 6.73478 12 7 12H9.86L9.11 16H5C4.73478 16 4.48043 16.1053 4.29289 16.2929C4.10536 16.4804 4 16.7347 4 17C4 17.2652 4.10536 17.5195 4.29289 17.7071C4.48043 17.8946 4.73478 18 5 18H8.73L8 21.82C7.97412 21.9515 7.97495 22.0869 8.00243 22.2181C8.02992 22.3493 8.0835 22.4736 8.16 22.5837C8.23649 22.6938 8.33434 22.7873 8.44772 22.8589C8.5611 22.9304 8.6877 22.9784 8.82 23H9C9.23679 23.0038 9.46726 22.9235 9.65039 22.7734C9.83351 22.6232 9.9574 22.4129 10 22.18L10.77 18H15.77L15 21.82C14.9532 22.0798 15.0111 22.3475 15.161 22.5648C15.3108 22.7821 15.5405 22.9313 15.8 22.98L16 23C16.2368 23.0038 16.4673 22.9235 16.6504 22.7734C16.8335 22.6232 16.9574 22.4129 17 22.18L17.77 18H21C21.2652 18 21.5196 17.8946 21.7071 17.7071C21.8946 17.5195 22 17.2652 22 17C22 16.7347 21.8946 16.4804 21.7071 16.2929C21.5196 16.1053 21.2652 16 21 16H18.14L18.89 12H23C23.2652 12 23.5196 11.8946 23.7071 11.7071C23.8946 11.5195 24 11.2652 24 11C24 10.7347 23.8946 10.4804 23.7071 10.2929C23.5196 10.1053 23.2652 9.99996 23 9.99996ZM16.11 16H11.11L11.86 12H16.86L16.11 16Z"
                                      fill="#9AA2AC"/>
                            </svg>
                            <label for="Design">
                                <input type="checkbox" name="Design"/><span></span>Design System
                            </label>
                        </li>
                        <li>
                            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M23 9.99996H19.27L20 6.17996C20.0236 6.04864 20.0212 5.91394 19.9928 5.78357C19.9643 5.6532 19.9105 5.5297 19.8344 5.42013C19.7582 5.31056 19.6613 5.21705 19.549 5.14496C19.4367 5.07287 19.3113 5.0236 19.18 4.99996C19.0487 4.97632 18.914 4.97878 18.7836 5.0072C18.6532 5.03561 18.5297 5.08943 18.4202 5.16557C18.3106 5.24172 18.2171 5.3387 18.145 5.45098C18.0729 5.56326 18.0236 5.68864 18 5.81996L17.23 9.99996H12.23L13 6.17996C13.0236 6.04864 13.0212 5.91394 12.9928 5.78357C12.9643 5.6532 12.9105 5.5297 12.8344 5.42013C12.6806 5.19884 12.4452 5.0477 12.18 4.99996C12.0487 4.97632 11.914 4.97878 11.7836 5.0072C11.6532 5.03561 11.5297 5.08943 11.4202 5.16557C11.1989 5.31935 11.0477 5.55474 11 5.81996L10.23 9.99996H7C6.73478 9.99996 6.48043 10.1053 6.29289 10.2929C6.10536 10.4804 6 10.7347 6 11C6 11.2652 6.10536 11.5195 6.29289 11.7071C6.48043 11.8946 6.73478 12 7 12H9.86L9.11 16H5C4.73478 16 4.48043 16.1053 4.29289 16.2929C4.10536 16.4804 4 16.7347 4 17C4 17.2652 4.10536 17.5195 4.29289 17.7071C4.48043 17.8946 4.73478 18 5 18H8.73L8 21.82C7.97412 21.9515 7.97495 22.0869 8.00243 22.2181C8.02992 22.3493 8.0835 22.4736 8.16 22.5837C8.23649 22.6938 8.33434 22.7873 8.44772 22.8589C8.5611 22.9304 8.6877 22.9784 8.82 23H9C9.23679 23.0038 9.46726 22.9235 9.65039 22.7734C9.83351 22.6232 9.9574 22.4129 10 22.18L10.77 18H15.77L15 21.82C14.9532 22.0798 15.0111 22.3475 15.161 22.5648C15.3108 22.7821 15.5405 22.9313 15.8 22.98L16 23C16.2368 23.0038 16.4673 22.9235 16.6504 22.7734C16.8335 22.6232 16.9574 22.4129 17 22.18L17.77 18H21C21.2652 18 21.5196 17.8946 21.7071 17.7071C21.8946 17.5195 22 17.2652 22 17C22 16.7347 21.8946 16.4804 21.7071 16.2929C21.5196 16.1053 21.2652 16 21 16H18.14L18.89 12H23C23.2652 12 23.5196 11.8946 23.7071 11.7071C23.8946 11.5195 24 11.2652 24 11C24 10.7347 23.8946 10.4804 23.7071 10.2929C23.5196 10.1053 23.2652 9.99996 23 9.99996ZM16.11 16H11.11L11.86 12H16.86L16.11 16Z"
                                      fill="#9AA2AC"/>
                            </svg>
                            <label for="SAAS">
                                <input type="checkbox" name="SAAS"/><span></span>SAAS
                            </label>
                        </li>
                        <li>
                            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M23 9.99996H19.27L20 6.17996C20.0236 6.04864 20.0212 5.91394 19.9928 5.78357C19.9643 5.6532 19.9105 5.5297 19.8344 5.42013C19.7582 5.31056 19.6613 5.21705 19.549 5.14496C19.4367 5.07287 19.3113 5.0236 19.18 4.99996C19.0487 4.97632 18.914 4.97878 18.7836 5.0072C18.6532 5.03561 18.5297 5.08943 18.4202 5.16557C18.3106 5.24172 18.2171 5.3387 18.145 5.45098C18.0729 5.56326 18.0236 5.68864 18 5.81996L17.23 9.99996H12.23L13 6.17996C13.0236 6.04864 13.0212 5.91394 12.9928 5.78357C12.9643 5.6532 12.9105 5.5297 12.8344 5.42013C12.6806 5.19884 12.4452 5.0477 12.18 4.99996C12.0487 4.97632 11.914 4.97878 11.7836 5.0072C11.6532 5.03561 11.5297 5.08943 11.4202 5.16557C11.1989 5.31935 11.0477 5.55474 11 5.81996L10.23 9.99996H7C6.73478 9.99996 6.48043 10.1053 6.29289 10.2929C6.10536 10.4804 6 10.7347 6 11C6 11.2652 6.10536 11.5195 6.29289 11.7071C6.48043 11.8946 6.73478 12 7 12H9.86L9.11 16H5C4.73478 16 4.48043 16.1053 4.29289 16.2929C4.10536 16.4804 4 16.7347 4 17C4 17.2652 4.10536 17.5195 4.29289 17.7071C4.48043 17.8946 4.73478 18 5 18H8.73L8 21.82C7.97412 21.9515 7.97495 22.0869 8.00243 22.2181C8.02992 22.3493 8.0835 22.4736 8.16 22.5837C8.23649 22.6938 8.33434 22.7873 8.44772 22.8589C8.5611 22.9304 8.6877 22.9784 8.82 23H9C9.23679 23.0038 9.46726 22.9235 9.65039 22.7734C9.83351 22.6232 9.9574 22.4129 10 22.18L10.77 18H15.77L15 21.82C14.9532 22.0798 15.0111 22.3475 15.161 22.5648C15.3108 22.7821 15.5405 22.9313 15.8 22.98L16 23C16.2368 23.0038 16.4673 22.9235 16.6504 22.7734C16.8335 22.6232 16.9574 22.4129 17 22.18L17.77 18H21C21.2652 18 21.5196 17.8946 21.7071 17.7071C21.8946 17.5195 22 17.2652 22 17C22 16.7347 21.8946 16.4804 21.7071 16.2929C21.5196 16.1053 21.2652 16 21 16H18.14L18.89 12H23C23.2652 12 23.5196 11.8946 23.7071 11.7071C23.8946 11.5195 24 11.2652 24 11C24 10.7347 23.8946 10.4804 23.7071 10.2929C23.5196 10.1053 23.2652 9.99996 23 9.99996ZM16.11 16H11.11L11.86 12H16.86L16.11 16Z"
                                      fill="#9AA2AC"/>
                            </svg>
                            <label for="Fintech">
                                <input type="checkbox" name="Fintech"/><span></span>Fintech
                            </label>
                        </li>
                        <li>
                            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M23 9.99996H19.27L20 6.17996C20.0236 6.04864 20.0212 5.91394 19.9928 5.78357C19.9643 5.6532 19.9105 5.5297 19.8344 5.42013C19.7582 5.31056 19.6613 5.21705 19.549 5.14496C19.4367 5.07287 19.3113 5.0236 19.18 4.99996C19.0487 4.97632 18.914 4.97878 18.7836 5.0072C18.6532 5.03561 18.5297 5.08943 18.4202 5.16557C18.3106 5.24172 18.2171 5.3387 18.145 5.45098C18.0729 5.56326 18.0236 5.68864 18 5.81996L17.23 9.99996H12.23L13 6.17996C13.0236 6.04864 13.0212 5.91394 12.9928 5.78357C12.9643 5.6532 12.9105 5.5297 12.8344 5.42013C12.6806 5.19884 12.4452 5.0477 12.18 4.99996C12.0487 4.97632 11.914 4.97878 11.7836 5.0072C11.6532 5.03561 11.5297 5.08943 11.4202 5.16557C11.1989 5.31935 11.0477 5.55474 11 5.81996L10.23 9.99996H7C6.73478 9.99996 6.48043 10.1053 6.29289 10.2929C6.10536 10.4804 6 10.7347 6 11C6 11.2652 6.10536 11.5195 6.29289 11.7071C6.48043 11.8946 6.73478 12 7 12H9.86L9.11 16H5C4.73478 16 4.48043 16.1053 4.29289 16.2929C4.10536 16.4804 4 16.7347 4 17C4 17.2652 4.10536 17.5195 4.29289 17.7071C4.48043 17.8946 4.73478 18 5 18H8.73L8 21.82C7.97412 21.9515 7.97495 22.0869 8.00243 22.2181C8.02992 22.3493 8.0835 22.4736 8.16 22.5837C8.23649 22.6938 8.33434 22.7873 8.44772 22.8589C8.5611 22.9304 8.6877 22.9784 8.82 23H9C9.23679 23.0038 9.46726 22.9235 9.65039 22.7734C9.83351 22.6232 9.9574 22.4129 10 22.18L10.77 18H15.77L15 21.82C14.9532 22.0798 15.0111 22.3475 15.161 22.5648C15.3108 22.7821 15.5405 22.9313 15.8 22.98L16 23C16.2368 23.0038 16.4673 22.9235 16.6504 22.7734C16.8335 22.6232 16.9574 22.4129 17 22.18L17.77 18H21C21.2652 18 21.5196 17.8946 21.7071 17.7071C21.8946 17.5195 22 17.2652 22 17C22 16.7347 21.8946 16.4804 21.7071 16.2929C21.5196 16.1053 21.2652 16 21 16H18.14L18.89 12H23C23.2652 12 23.5196 11.8946 23.7071 11.7071C23.8946 11.5195 24 11.2652 24 11C24 10.7347 23.8946 10.4804 23.7071 10.2929C23.5196 10.1053 23.2652 9.99996 23 9.99996ZM16.11 16H11.11L11.86 12H16.86L16.11 16Z"
                                      fill="#9AA2AC"/>
                            </svg>
                            <label for="Crypto">
                                <input type="checkbox" name="Crypto"/><span></span>Crypto
                            </label>
                        </li>
                        <li>
                            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M23 9.99996H19.27L20 6.17996C20.0236 6.04864 20.0212 5.91394 19.9928 5.78357C19.9643 5.6532 19.9105 5.5297 19.8344 5.42013C19.7582 5.31056 19.6613 5.21705 19.549 5.14496C19.4367 5.07287 19.3113 5.0236 19.18 4.99996C19.0487 4.97632 18.914 4.97878 18.7836 5.0072C18.6532 5.03561 18.5297 5.08943 18.4202 5.16557C18.3106 5.24172 18.2171 5.3387 18.145 5.45098C18.0729 5.56326 18.0236 5.68864 18 5.81996L17.23 9.99996H12.23L13 6.17996C13.0236 6.04864 13.0212 5.91394 12.9928 5.78357C12.9643 5.6532 12.9105 5.5297 12.8344 5.42013C12.6806 5.19884 12.4452 5.0477 12.18 4.99996C12.0487 4.97632 11.914 4.97878 11.7836 5.0072C11.6532 5.03561 11.5297 5.08943 11.4202 5.16557C11.1989 5.31935 11.0477 5.55474 11 5.81996L10.23 9.99996H7C6.73478 9.99996 6.48043 10.1053 6.29289 10.2929C6.10536 10.4804 6 10.7347 6 11C6 11.2652 6.10536 11.5195 6.29289 11.7071C6.48043 11.8946 6.73478 12 7 12H9.86L9.11 16H5C4.73478 16 4.48043 16.1053 4.29289 16.2929C4.10536 16.4804 4 16.7347 4 17C4 17.2652 4.10536 17.5195 4.29289 17.7071C4.48043 17.8946 4.73478 18 5 18H8.73L8 21.82C7.97412 21.9515 7.97495 22.0869 8.00243 22.2181C8.02992 22.3493 8.0835 22.4736 8.16 22.5837C8.23649 22.6938 8.33434 22.7873 8.44772 22.8589C8.5611 22.9304 8.6877 22.9784 8.82 23H9C9.23679 23.0038 9.46726 22.9235 9.65039 22.7734C9.83351 22.6232 9.9574 22.4129 10 22.18L10.77 18H15.77L15 21.82C14.9532 22.0798 15.0111 22.3475 15.161 22.5648C15.3108 22.7821 15.5405 22.9313 15.8 22.98L16 23C16.2368 23.0038 16.4673 22.9235 16.6504 22.7734C16.8335 22.6232 16.9574 22.4129 17 22.18L17.77 18H21C21.2652 18 21.5196 17.8946 21.7071 17.7071C21.8946 17.5195 22 17.2652 22 17C22 16.7347 21.8946 16.4804 21.7071 16.2929C21.5196 16.1053 21.2652 16 21 16H18.14L18.89 12H23C23.2652 12 23.5196 11.8946 23.7071 11.7071C23.8946 11.5195 24 11.2652 24 11C24 10.7347 23.8946 10.4804 23.7071 10.2929C23.5196 10.1053 23.2652 9.99996 23 9.99996ZM16.11 16H11.11L11.86 12H16.86L16.11 16Z"
                                      fill="#9AA2AC"/>
                            </svg>
                            <label for="Other">
                                <input type="checkbox" name="Other"/><span></span>Other
                            </label>
                        </li>
                    </ul>
                </div>
                <input class="font-titanium" type="text" name="name" placeholder="Name" required>
                <input class="font-titanium" type="email" name="email" placeholder="Email" required>
                <textarea class="font-titanium" name="message" placeholder="About your project"></textarea>
                <div class="buttons">
                    <label for="file" class="attach font-titanium">
                        <input id="file" type="file" name="file">
                        <span>Add Attachment</span>
                        <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.3273 7.75689L9.67131 13.4139C9.5758 13.5061 9.49962 13.6165 9.44721 13.7385C9.3948 13.8605 9.36721 13.9917 9.36606 14.1245C9.36491 14.2573 9.39021 14.3889 9.44049 14.5118C9.49077 14.6347 9.56502 14.7464 9.65892 14.8403C9.75281 14.9342 9.86446 15.0084 9.98736 15.0587C10.1103 15.109 10.2419 15.1343 10.3747 15.1331C10.5075 15.132 10.6387 15.1044 10.7607 15.052C10.8827 14.9996 10.9931 14.9234 11.0853 14.8279L16.7423 9.17189C17.305 8.60923 17.6211 7.8461 17.6211 7.05039C17.6211 6.25467 17.305 5.49154 16.7423 4.92889C16.1797 4.36623 15.4165 4.05013 14.6208 4.05013C13.8251 4.05013 13.062 4.36623 12.4993 4.92889L6.84231 10.5859C6.36839 11.048 5.99094 11.5996 5.73187 12.2088C5.4728 12.8179 5.33726 13.4724 5.33311 14.1344C5.32896 14.7963 5.45629 15.4525 5.70771 16.0648C5.95913 16.6771 6.32963 17.2334 6.79773 17.7015C7.26582 18.1695 7.82219 18.5399 8.43456 18.7913C9.04694 19.0426 9.70312 19.1698 10.365 19.1656C11.027 19.1614 11.6815 19.0257 12.2906 18.7666C12.8997 18.5074 13.4512 18.1299 13.9133 17.6559L19.5703 11.9999L20.9843 13.4139L15.3273 19.0709C14.6773 19.7209 13.9056 20.2366 13.0562 20.5884C12.2069 20.9402 11.2966 21.1212 10.3773 21.1212C9.45801 21.1212 8.54771 20.9402 7.69839 20.5884C6.84907 20.2366 6.07735 19.7209 5.42731 19.0709C4.77727 18.4208 4.26162 17.6491 3.90982 16.7998C3.55802 15.9505 3.37695 15.0402 3.37695 14.1209C3.37695 13.2016 3.55802 12.2913 3.90982 11.442C4.26162 10.5926 4.77727 9.82093 5.42731 9.17089L11.0853 3.51489C12.0283 2.6041 13.2913 2.10013 14.6023 2.11152C15.9133 2.12291 17.1674 2.64875 18.0944 3.57579C19.0214 4.50284 19.5473 5.7569 19.5587 7.06788C19.5701 8.37887 19.0661 9.64188 18.1553 10.5849L12.4993 16.2439C12.2206 16.5225 11.8898 16.7435 11.5258 16.8942C11.1617 17.045 10.7715 17.1225 10.3775 17.1225C9.98341 17.1224 9.59323 17.0448 9.2292 16.894C8.86517 16.7431 8.53441 16.5221 8.25581 16.2434C7.97721 15.9647 7.75623 15.6339 7.60547 15.2698C7.45472 14.9058 7.37716 14.5156 7.3772 14.1215C7.37725 13.7275 7.45491 13.3373 7.60575 12.9733C7.75658 12.6092 7.97765 12.2785 8.25631 11.9999L13.9133 6.34289L15.3273 7.75689Z"
                                  fill="#202831"/>
                        </svg>
                    </label>
                    <button class="submit font-titanium">Send Request</button>
                </div>
            </form>
        </div>
        <div class="contact-success hide">
            <svg data-role="close" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M12.0007 10.5857L16.9507 5.63574L18.3647 7.04974L13.4147 11.9997L18.3647 16.9497L16.9507 18.3637L12.0007 13.4137L7.05072 18.3637L5.63672 16.9497L10.5867 11.9997L5.63672 7.04974L7.05072 5.63574L12.0007 10.5857Z"
                      fill="#CBD3DD"/>
            </svg>
            <div class="info">
                <img src="images/success.svg" alt="success">
                <p class="title">Thanks for your request</p>
                <p class="font-titanium">We'll be in touch</p>
            </div>
            <button class="success font-titanium" data-role="close">Ok</button>
        </div>
    </div>
</section>