<section class="products">
    <div class="container">
        <h2 class="lined-title">Created products</h2>
        <div class="products__wrapper">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide product baanx disabled">
                        <a href="#" class="product__link"></a>
                        <div class="product__image">
                            <picture>
                                <source srcset="images/products/mockups/baanx-mockups-lg.png" media="(min-width: 1280px)">
                                <source srcset="images/products/mockups/baanx-mockups-md.png" media="(min-width: 960px)">
                                <source srcset="images/products/mockups/baanx-mockups-sm.png" media="(min-width: 768px)">
                                <img src="images/products/mockups/baanx-mockups.png" alt="Product">
                            </picture>
                        </div>
                        <div class="product__content">
                            <div class="logo">
                                <img src="images/products/mockups/baanx-logo.png" alt="Product Logo">
                            </div>
                            <h6 class="product-title">Web 3.0 Fintech Solutions</h6>
                            <div class="product-store">
                                <a href="#-ios">
                                    <img src="images/products/icons/icon-appstore.png" alt="apple">
                                </a>
                                <a href="#-android">
                                    <img src="images/products/icons/icon-google-play.png" alt="google">
                                </a>
                            </div>
                            <div class="product-explore font-titanium soon">
                                Coming soon
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6 8V7C6 5.4087 6.63214 3.88258 7.75736 2.75736C8.88258 1.63214 10.4087 1 12 1C13.5913 1 15.1174 1.63214 16.2426 2.75736C17.3679 3.88258 18 5.4087 18 7V8H20C20.2652 8 20.5196 8.10536 20.7071 8.29289C20.8946 8.48043 21 8.73478 21 9V21C21 21.2652 20.8946 21.5196 20.7071 21.7071C20.5196 21.8946 20.2652 22 20 22H4C3.73478 22 3.48043 21.8946 3.29289 21.7071C3.10536 21.5196 3 21.2652 3 21V9C3 8.73478 3.10536 8.48043 3.29289 8.29289C3.48043 8.10536 3.73478 8 4 8H6ZM19 10H5V20H19V10ZM11 15.732C10.6187 15.5119 10.3207 15.1721 10.1522 14.7653C9.98376 14.3586 9.9542 13.9076 10.0681 13.4823C10.1821 13.057 10.4332 12.6813 10.7825 12.4132C11.1318 12.1452 11.5597 11.9999 12 11.9999C12.4403 11.9999 12.8682 12.1452 13.2175 12.4132C13.5668 12.6813 13.8179 13.057 13.9319 13.4823C14.0458 13.9076 14.0162 14.3586 13.8478 14.7653C13.6793 15.1721 13.3813 15.5119 13 15.732V18H11V15.732ZM8 8H16V7C16 5.93913 15.5786 4.92172 14.8284 4.17157C14.0783 3.42143 13.0609 3 12 3C10.9391 3 9.92172 3.42143 9.17157 4.17157C8.42143 4.92172 8 5.93913 8 7V8Z"/>
                                </svg>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide product streambet">
                        <a href="streambet-page.html" class="product__link"></a>
                        <div class="product__image">
                            <picture>
                                <source srcset="images/products/mockups/streambet-mockups-lg.png" media="(min-width: 1280px)">
                                <source srcset="images/products/mockups/streambet-mockups-md.png" media="(min-width: 960px)">
                                <img src="images/products/mockups/streambet-mockups.png" alt="Product">
                            </picture>
                        </div>
                        <div class="product__content">
                            <h6 class="product-title">Online Betting Platform</h6>
                            <a href="streambet-page.html" class="product-explore font-titanium">
                                Explore
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17.4538 11.8007L17.4537 11.8007L17.4575 11.8099C17.5075 11.9317 17.5075 12.0682 17.4575 12.1899L17.4574 12.1899L17.4538 12.1992C17.4306 12.2592 17.396 12.3141 17.3519 12.3609L12.3564 17.3564L12.355 17.3578C12.3085 17.4047 12.2532 17.4419 12.1923 17.4673C12.1314 17.4927 12.066 17.5057 12 17.5057C11.934 17.5057 11.8686 17.4927 11.8077 17.4673C11.7468 17.4419 11.6915 17.4047 11.645 17.3578L11.6421 17.3549C11.5952 17.3085 11.558 17.2532 11.5327 17.1922C11.5073 17.1313 11.4942 17.0659 11.4942 16.9999C11.4942 16.9339 11.5073 16.8686 11.5327 16.8077C11.558 16.7467 11.5952 16.6914 11.6421 16.6449L11.643 16.644L14.943 13.354L15.7997 12.4999H14.59H7C6.86739 12.4999 6.74022 12.4473 6.64645 12.3535C6.55268 12.2597 6.5 12.1325 6.5 11.9999C6.5 11.8673 6.55268 11.7402 6.64645 11.6464C6.74022 11.5526 6.86739 11.4999 7 11.4999H14.59H15.7997L14.943 10.6459L11.6436 7.35639C11.6435 7.35633 11.6434 7.35628 11.6434 7.35623C11.549 7.26171 11.4959 7.13356 11.4959 6.99994C11.4959 6.93374 11.5089 6.86819 11.5343 6.80703C11.5596 6.74588 11.5967 6.6903 11.6436 6.64349C11.7381 6.54896 11.8663 6.49585 12 6.49585C12.0662 6.49585 12.1317 6.50889 12.1929 6.53422C12.2541 6.55955 12.3096 6.59669 12.3564 6.64349L12.7083 6.29163L12.3564 6.64349L17.3519 11.639C17.396 11.6858 17.4306 11.7407 17.4538 11.8007Z" fill="#EA4136" stroke="#EA4136"/>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="swiper-slide product centrobill">
                        <a href="centrobill-page.html" class="product__link"></a>
                        <div class="product__image">
                            <picture>
                                <source srcset="images/products/mockups/centrobill-mockups-lg.png" media="(min-width: 1280px)">
                                <source srcset="images/products/mockups/centrobill-mockups-md.png" media="(min-width: 960px)">
                                <img src="images/products/mockups/centrobill-mockups.png" alt="Product">
                            </picture>
                        </div>
                        <div class="product__content">
                            <h6 class="product-title">Online payments for any business</h6>
                            <a href="centrobill-page.html" class="product-explore font-titanium">
                                Explore
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17.4538 11.8007L17.4537 11.8007L17.4575 11.8099C17.5075 11.9317 17.5075 12.0682 17.4575 12.1899L17.4574 12.1899L17.4538 12.1992C17.4306 12.2592 17.396 12.3141 17.3519 12.3609L12.3564 17.3564L12.355 17.3578C12.3085 17.4047 12.2532 17.4419 12.1923 17.4673C12.1314 17.4927 12.066 17.5057 12 17.5057C11.934 17.5057 11.8686 17.4927 11.8077 17.4673C11.7468 17.4419 11.6915 17.4047 11.645 17.3578L11.6421 17.3549C11.5952 17.3085 11.558 17.2532 11.5327 17.1922C11.5073 17.1313 11.4942 17.0659 11.4942 16.9999C11.4942 16.9339 11.5073 16.8686 11.5327 16.8077C11.558 16.7467 11.5952 16.6914 11.6421 16.6449L11.643 16.644L14.943 13.354L15.7997 12.4999H14.59H7C6.86739 12.4999 6.74022 12.4473 6.64645 12.3535C6.55268 12.2597 6.5 12.1325 6.5 11.9999C6.5 11.8673 6.55268 11.7402 6.64645 11.6464C6.74022 11.5526 6.86739 11.4999 7 11.4999H14.59H15.7997L14.943 10.6459L11.6436 7.35639C11.6435 7.35633 11.6434 7.35628 11.6434 7.35623C11.549 7.26171 11.4959 7.13356 11.4959 6.99994C11.4959 6.93374 11.5089 6.86819 11.5343 6.80703C11.5596 6.74588 11.5967 6.6903 11.6436 6.64349C11.7381 6.54896 11.8663 6.49585 12 6.49585C12.0662 6.49585 12.1317 6.50889 12.1929 6.53422C12.2541 6.55955 12.3096 6.59669 12.3564 6.64349L12.7083 6.29163L12.3564 6.64349L17.3519 11.639C17.396 11.6858 17.4306 11.7407 17.4538 11.8007Z" fill="#EA4136" stroke="#EA4136"/>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="swiper-slide product xrave">
                        <a href="xrave-page.html" class="product__link"></a>
                        <div class="product__image">
                            <picture>
                                <source srcset="images/products/mockups/xrave-mockups-lg.png" media="(min-width: 1280px)">
                                <source srcset="images/products/mockups/xrave-mockups-md.png" media="(min-width: 960px)">
                                <img src="images/products/mockups/xrave-mockups.png" alt="Product">
                            </picture>
                        </div>
                        <div class="product__content">
                            <h6 class="product-title">Cryptocurrency Exchange</h6>
                            <a href="xrave-page.html" class="product-explore font-titanium">
                                Explore
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17.4538 11.8007L17.4537 11.8007L17.4575 11.8099C17.5075 11.9317 17.5075 12.0682 17.4575 12.1899L17.4574 12.1899L17.4538 12.1992C17.4306 12.2592 17.396 12.3141 17.3519 12.3609L12.3564 17.3564L12.355 17.3578C12.3085 17.4047 12.2532 17.4419 12.1923 17.4673C12.1314 17.4927 12.066 17.5057 12 17.5057C11.934 17.5057 11.8686 17.4927 11.8077 17.4673C11.7468 17.4419 11.6915 17.4047 11.645 17.3578L11.6421 17.3549C11.5952 17.3085 11.558 17.2532 11.5327 17.1922C11.5073 17.1313 11.4942 17.0659 11.4942 16.9999C11.4942 16.9339 11.5073 16.8686 11.5327 16.8077C11.558 16.7467 11.5952 16.6914 11.6421 16.6449L11.643 16.644L14.943 13.354L15.7997 12.4999H14.59H7C6.86739 12.4999 6.74022 12.4473 6.64645 12.3535C6.55268 12.2597 6.5 12.1325 6.5 11.9999C6.5 11.8673 6.55268 11.7402 6.64645 11.6464C6.74022 11.5526 6.86739 11.4999 7 11.4999H14.59H15.7997L14.943 10.6459L11.6436 7.35639C11.6435 7.35633 11.6434 7.35628 11.6434 7.35623C11.549 7.26171 11.4959 7.13356 11.4959 6.99994C11.4959 6.93374 11.5089 6.86819 11.5343 6.80703C11.5596 6.74588 11.5967 6.6903 11.6436 6.64349C11.7381 6.54896 11.8663 6.49585 12 6.49585C12.0662 6.49585 12.1317 6.50889 12.1929 6.53422C12.2541 6.55955 12.3096 6.59669 12.3564 6.64349L12.7083 6.29163L12.3564 6.64349L17.3519 11.639C17.396 11.6858 17.4306 11.7407 17.4538 11.8007Z" fill="#EA4136" stroke="#EA4136"/>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="swiper-slide product exrates">
                        <a href="exrates-page.html" class="product__link"></a>
                        <div class="product__image">
                            <picture>
                                <source srcset="images/products/mockups/exrates-mockups-lg.png" media="(min-width: 1280px)">
                                <source srcset="images/products/mockups/exrates-mockups-md.png" media="(min-width: 960px)">
                                <img src="images/products/mockups/exrates-mockups.png" alt="Product">
                            </picture>
                        </div>
                        <div class="product__content">
                            <h6 class="product-title">Buy, sell and trade digital currencies</h6>
                            <a href="exrates-page.html" class="product-explore font-titanium">
                                Explore
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17.4538 11.8007L17.4537 11.8007L17.4575 11.8099C17.5075 11.9317 17.5075 12.0682 17.4575 12.1899L17.4574 12.1899L17.4538 12.1992C17.4306 12.2592 17.396 12.3141 17.3519 12.3609L12.3564 17.3564L12.355 17.3578C12.3085 17.4047 12.2532 17.4419 12.1923 17.4673C12.1314 17.4927 12.066 17.5057 12 17.5057C11.934 17.5057 11.8686 17.4927 11.8077 17.4673C11.7468 17.4419 11.6915 17.4047 11.645 17.3578L11.6421 17.3549C11.5952 17.3085 11.558 17.2532 11.5327 17.1922C11.5073 17.1313 11.4942 17.0659 11.4942 16.9999C11.4942 16.9339 11.5073 16.8686 11.5327 16.8077C11.558 16.7467 11.5952 16.6914 11.6421 16.6449L11.643 16.644L14.943 13.354L15.7997 12.4999H14.59H7C6.86739 12.4999 6.74022 12.4473 6.64645 12.3535C6.55268 12.2597 6.5 12.1325 6.5 11.9999C6.5 11.8673 6.55268 11.7402 6.64645 11.6464C6.74022 11.5526 6.86739 11.4999 7 11.4999H14.59H15.7997L14.943 10.6459L11.6436 7.35639C11.6435 7.35633 11.6434 7.35628 11.6434 7.35623C11.549 7.26171 11.4959 7.13356 11.4959 6.99994C11.4959 6.93374 11.5089 6.86819 11.5343 6.80703C11.5596 6.74588 11.5967 6.6903 11.6436 6.64349C11.7381 6.54896 11.8663 6.49585 12 6.49585C12.0662 6.49585 12.1317 6.50889 12.1929 6.53422C12.2541 6.55955 12.3096 6.59669 12.3564 6.64349L12.7083 6.29163L12.3564 6.64349L17.3519 11.639C17.396 11.6858 17.4306 11.7407 17.4538 11.8007Z" fill="#EA4136" stroke="#EA4136"/>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="swiper-slide product raveos">
                        <a href="raveos.html" class="product__link"></a>
                        <div class="product__image">
                            <picture>
                                <source srcset="images/products/mockups/raveos-mockups-lg.png" media="(min-width: 1280px)">
                                <source srcset="images/products/mockups/raveos-mockups-md.png" media="(min-width: 960px)">
                                <img src="images/products/mockups/raveos-mockups.png" alt="Product">
                            </picture>
                        </div>
                        <div class="product__content">
                            <h6 class="product-title">Operating system for rigs and ASICs</h6>
                            <a href="raveos.html" class="product-explore font-titanium">
                                Explore
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17.4538 11.8007L17.4537 11.8007L17.4575 11.8099C17.5075 11.9317 17.5075 12.0682 17.4575 12.1899L17.4574 12.1899L17.4538 12.1992C17.4306 12.2592 17.396 12.3141 17.3519 12.3609L12.3564 17.3564L12.355 17.3578C12.3085 17.4047 12.2532 17.4419 12.1923 17.4673C12.1314 17.4927 12.066 17.5057 12 17.5057C11.934 17.5057 11.8686 17.4927 11.8077 17.4673C11.7468 17.4419 11.6915 17.4047 11.645 17.3578L11.6421 17.3549C11.5952 17.3085 11.558 17.2532 11.5327 17.1922C11.5073 17.1313 11.4942 17.0659 11.4942 16.9999C11.4942 16.9339 11.5073 16.8686 11.5327 16.8077C11.558 16.7467 11.5952 16.6914 11.6421 16.6449L11.643 16.644L14.943 13.354L15.7997 12.4999H14.59H7C6.86739 12.4999 6.74022 12.4473 6.64645 12.3535C6.55268 12.2597 6.5 12.1325 6.5 11.9999C6.5 11.8673 6.55268 11.7402 6.64645 11.6464C6.74022 11.5526 6.86739 11.4999 7 11.4999H14.59H15.7997L14.943 10.6459L11.6436 7.35639C11.6435 7.35633 11.6434 7.35628 11.6434 7.35623C11.549 7.26171 11.4959 7.13356 11.4959 6.99994C11.4959 6.93374 11.5089 6.86819 11.5343 6.80703C11.5596 6.74588 11.5967 6.6903 11.6436 6.64349C11.7381 6.54896 11.8663 6.49585 12 6.49585C12.0662 6.49585 12.1317 6.50889 12.1929 6.53422C12.2541 6.55955 12.3096 6.59669 12.3564 6.64349L12.7083 6.29163L12.3564 6.64349L17.3519 11.639C17.396 11.6858 17.4306 11.7407 17.4538 11.8007Z" fill="#EA4136" stroke="#EA4136"/>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="swiper-slide product priceex disabled">
                        <a href="#" class="product__link"></a>
                        <div class="product__image">
                            <picture>
                                <source srcset="images/products/mockups/priceex-mockups-lg.png" media="(min-width: 1280px)">
                                <source srcset="images/products/mockups/priceex-mockups-md.png" media="(min-width: 960px)">
                                <img src="images/products/mockups/priceex-mockups.png" alt="Product">
                            </picture>
                        </div>
                        <div class="product__content">
                            <h6 class="product-title">Automatic service for price monitoring</h6>
                            <div class="product-explore font-titanium soon">
                                Coming soon
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6 8V7C6 5.4087 6.63214 3.88258 7.75736 2.75736C8.88258 1.63214 10.4087 1 12 1C13.5913 1 15.1174 1.63214 16.2426 2.75736C17.3679 3.88258 18 5.4087 18 7V8H20C20.2652 8 20.5196 8.10536 20.7071 8.29289C20.8946 8.48043 21 8.73478 21 9V21C21 21.2652 20.8946 21.5196 20.7071 21.7071C20.5196 21.8946 20.2652 22 20 22H4C3.73478 22 3.48043 21.8946 3.29289 21.7071C3.10536 21.5196 3 21.2652 3 21V9C3 8.73478 3.10536 8.48043 3.29289 8.29289C3.48043 8.10536 3.73478 8 4 8H6ZM19 10H5V20H19V10ZM11 15.732C10.6187 15.5119 10.3207 15.1721 10.1522 14.7653C9.98376 14.3586 9.9542 13.9076 10.0681 13.4823C10.1821 13.057 10.4332 12.6813 10.7825 12.4132C11.1318 12.1452 11.5597 11.9999 12 11.9999C12.4403 11.9999 12.8682 12.1452 13.2175 12.4132C13.5668 12.6813 13.8179 13.057 13.9319 13.4823C14.0458 13.9076 14.0162 14.3586 13.8478 14.7653C13.6793 15.1721 13.3813 15.5119 13 15.732V18H11V15.732ZM8 8H16V7C16 5.93913 15.5786 4.92172 14.8284 4.17157C14.0783 3.42143 13.0609 3 12 3C10.9391 3 9.92172 3.42143 9.17157 4.17157C8.42143 4.92172 8 5.93913 8 7V8Z"/>
                                </svg>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>
