.header{
    position: fixed;
    top: 0;
    left: 50%;
    background-color: $white;
    z-index: 10;
    width: 100%;
    height: 48px;
    transform: translateX(-50%);

    @include md{
        top: 32px;
        width: 741px;
    }

    &__wrapper{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo{
        width: 48px;
        height: 48px;
    }

    nav{
        display: flex;
        width: calc(100% - 48px);

        @include sm{
            width: calc(100% - 141px);
        }

        @include md{
            width: calc(100% - 109px);
        }

        ul{
            display: flex;
            justify-content: space-between;
            width: 100%;

            @include sm{
                align-items: center;
            }

            .menu-item{

                & > a{
                    font-family: 'Titillium Web', sans-serif;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.01em;

                    @include sm{
                        font-size: 16px;
                        line-height: 24px;
                    }
                }

                &:hover{

                    & > a{
                        color: $link;

                        svg path{
                            fill: $link;
                        }
                    }
                }

                &.contact{
                    display: flex;
                    align-items: center;
                    width: calc(100% - 48px);
                    background-color: $primary-text;
                    color: $white;
                    padding-left: 20px;

                    @include sm{
                        width: 156px;
                        height: 48px;
                        padding: 0;
                        margin-left: auto;
                        justify-content: center;
                    }

                    @include md{
                        width: 172px;
                    }

                    & > a{
                        display: flex;
                        align-items: center;

                        svg{
                            margin-right: 8px;
                        }
                    }


                }

                &:first-child{
                    @include sm{
                        padding-left: 0!important;
                    }
                }

                &.no-border{
                    border: none!important;
                    padding-right: 0!important;
                }

                &.burger-button{
                    @include sm{
                        display: none;
                    }
                }

                &:not(&.contact, &.burger-button){
                    display: none;
                    @include sm{
                        display: block;
                        padding: 0 24px;
                        border-right: 2px solid #F3F3F4;
                    }

                    @include sm{

                    }
                }

                & #burger-button{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    row-gap: 5px;
                    padding: 16px 15px;
                    width: 48px;
                    height: 48px;
                    background-color: $white;
                    transition: all $hover-transition-length ease-in-out;

                    & > span{
                        width: 18px;
                        height: 2px;
                        background-color: $link;
                        transition: all $hover-transition-length ease-in-out;

                        &:nth-child(2){
                            width: 12px;
                        }
                    }

                    &.active{
                        position: relative;
                        background-color: $grey-low;

                        & > span{
                            position: absolute;
                            top: 50%;
                            background-color: $secondary-text;

                            &:first-child{
                                transform: rotate(45deg);
                            }

                            &:last-child{
                                transform: rotate(-45deg);
                            }

                            &:nth-child(2){
                                opacity: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    &__burger{
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 48px;
        left: 0;
        width: 100vw;
        height: 0;
        overflow: hidden;
        background-color: $white;
        transition: height $hover-transition-length ease-out;

        @include sm{
            display: none;
        }

        .burger-menu{
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 50px;
            margin-top: 64px;

            &__item{

                & > a{
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 36px;
                }
            }
        }

        .burger-bottom{
            margin-top: auto;
            margin-bottom: 24px;

            &__socials{
                display: flex;
                justify-content: center;
                column-gap: 24px;
                margin-bottom: 24px;

                li{
                    width: 24px;
                    height: 24px;

                    a{
                        display: flex;
                        svg{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

            p{
                font-size: 12px;
                line-height: 16px;
                color: $secondary-text;
            }
        }
    }
}