@import "../helpers/mixins";
@import "../helpers/variables";

.main-banner{
    display: flex;
    flex-direction: column;

    @include sm{
        position: relative;
    }

    &__vector{
        display: none;

        @include sm{
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: auto;
        }

        @include xl{
            width: 1440px;
            left: 50%;
            transform: translateX(-50%);
        }

        img{
            width: 100%;
            height: auto;
        }
    }

    .container{
        z-index: 1;
    }

    &__title{
        position: relative;
        width: 274px;
        height: 170px;
        margin: 64px auto 0;

        @include sm{
            width: 520px;
            height: 100px;
            margin: 172px auto 0;
        }

        @include md{
            width: 740px;
            height: 140px;
            margin: 204px auto 0;
        }

        @include lg{
            width: 1140px;
            height: 80px;
            margin: 212px auto 0;
        }

        svg{
            width: 100%;
            height: 100%;
        }
    }

    &__subtitle{
        margin: 24px auto;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: $primary-text;
        @include sm{
            font-size: 36px;
            line-height: 44px;
            margin: 32px auto;
        }
        @include md{
            margin: 40px auto;
        }
    }

    &__button{
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: $primary-text;
        width: 250px;
        height: 48px;
        margin: 0 auto;
        background-color: $grey-low;
        transition: all $hover-transition-length ease-in-out;
        z-index: 1;

        svg{
            margin-left: 4px;
            margin-top: 2px;
        }

        &:hover{
            background-color: $grey-beach;
        }
    }

    &__logos{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        column-gap: 16px;
        row-gap: 16px;
        margin: 64px auto 0;

        @include sm{
            margin: 70px auto 0;
            column-gap: 23px;
            //row-gap: 32px;
        }

        @include md{
            margin: 95px auto 0;
            column-gap: 32px;
        }

        @include lg{
            margin: 105px auto 0;
        }

        .logo-item{
            height: 24px;

            @include sm{
                height: 28px;
            }

            @include md{
                height: 32px;
            }

            @include lg{
                height: 36px;
            }

            svg{
                height: 100%;
                width: auto;

                path,
                image{
                    @include lg{
                        transition: opacity $hover-transition-length ease-in-out;
                        opacity: .5;
                    }
                }

            }

            &:hover{
                svg path,
                svg image{
                    @include lg{
                        opacity: 1;
                    }
                }
            }
        }

        .break{
            display: none;
            @include lg{
                display: block;
                flex-basis: 100%;
            }
        }
    }
}

.services{
    padding-top: 52px;

    @include sm{
        padding-top: 70px;
    }

    @include md{
        padding-top: 95px;
    }

    @include lg{
        padding-top: 105px;
    }

    &__wrapper{
        margin-left: 15px;
        margin-top: 40px;

        @include sm{
            margin-top: 48px;
            margin-left: 34px;
        }

        @include md{
            margin-right: 34px;
        }

        @include lg{
            margin-top: 60px;
            margin-left: auto;
            margin-right: auto;
            width: 1170px;
        }

        .swiper{
            padding-bottom: 50px;

            @include sm{
                padding-bottom: 65px;
            }

            .swiper-wrapper{

                @include md{
                    display: grid;
                    grid-template-columns: minmax(0, 40%) minmax(0, 57.4%);
                    grid-gap: 20px;
                }

                @include lg{
                    grid-template-columns: minmax(0, 470px) minmax(0, 670px);
                    grid-gap: 30px;
                }

                .swiper-slide{
                    width: 286px;

                    @include md{
                        width: 100%;
                        height: 291px;
                    }

                    @include lg{
                        height: 342px;
                    }

                    &:not(&:first-child){
                        .service-card{

                            &__dark-overlay{
                                @include md{
                                    width: 481px;
                                    height: 481px;
                                    background-color: #10052F;
                                    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.25);
                                    transform: rotate(-45deg) translateY(calc(-50% - 100px));
                                    left: 10px;
                                    top: 50%;
                                    border-radius: 70px;
                                }

                                @include lg{
                                    top: 48px;
                                    transform: rotate(-45deg) translateY(calc(-50% + 74px));
                                }
                            }

                            &__light-overlay{
                                @include md{
                                    width: 481px;
                                    height: 481px;
                                    background-color: $grey-beach;
                                    opacity: 0.4;
                                    transform: rotate(-45deg) translateY(calc(-50% - 100px));
                                    left: 36px;
                                    top: 50%;
                                    border-radius: 70px;
                                }

                                @include lg{
                                    top: 47px;
                                    transform: rotate(-45deg) translateY(calc(-50% + 76px));
                                }
                            }

                            &__icon{
                                @include md{
                                    width: 120px;
                                    height: 120px;
                                    top: 65px;
                                    left: 135px;
                                }

                                @include lg{
                                    top: 90px;
                                    left: 190px;
                                }
                            }

                            &__name{
                                @include md{
                                    font-size: 24px;
                                    line-height: 36px;
                                    top: 190px;
                                    left: 135px;
                                }

                                @include lg{
                                    top: 215px;
                                    left: 190px;
                                }
                            }

                            &__info{
                                @include md{
                                    display: flex;
                                    flex-direction: column-reverse;
                                    align-items: flex-end;
                                    left: unset;
                                    bottom: unset;
                                    right: 32px;
                                    top: 32px;
                                }

                                .category{
                                    @include md{
                                        margin-top: 0;
                                        margin-bottom: 8px;
                                    }
                                }
                            }

                            &__soon{
                                @include md{
                                    right: 32px;
                                    bottom: 32px;
                                }
                            }
                        }
                    }

                    &:first-child{
                        @include md{
                            grid-row: 1 / span 2;
                            height: 100%;
                        }

                        .service-card{
                            @include md{
                                width: 100%;
                                height: 100%;
                            }

                            &__dark-overlay{
                                @include md{
                                    top: -460px;
                                    width: 520px;
                                    height: 520px;
                                    transform: rotate(-45deg) translateX(calc(-50% - 105px));
                                    border-radius: 70px;
                                }

                                @include lg{
                                    top: -400px;
                                    transform: rotate(-45deg) translateX(calc(-50% - 107px));
                                }
                            }

                            &__light-overlay{
                                @include md{
                                    top: -430px;
                                    width: 520px;
                                    height: 520px;
                                    transform: rotate(-45deg) translateX(calc(-50% - 105px));
                                    border-radius: 70px;
                                }

                                @include lg{
                                    top: -375px;
                                    transform: rotate(-45deg) translateX(calc(-50% - 110px));
                                }
                            }

                            &__icon{
                                @include md{
                                    top: 88px;
                                    width: 120px;
                                    height: 120px;
                                }

                                @include lg{
                                    top: 108px;
                                }
                            }

                            &__name{
                                @include md{
                                    top: 213px;
                                    font-size: 24px;
                                    line-height: 36px;
                                }

                                @include lg{
                                    top: 232px;
                                }
                            }
                        }
                    }

                    &:last-child{
                        margin-right: 15px!important;

                        @include sm{
                            margin-right: 34px!important;
                        }

                        @include md{
                            margin-right: 0!important;
                        }
                    }

                }
            }
            .swiper-pagination{
                @include md{
                    display: none;
                }
            }
        }

        .service-card{
            position: relative;
            width: 286px;
            height: 434px;
            overflow: hidden;
            background-color: $white;

            &:hover {
                .service-card__link {
                    svg{
                        animation: arrow-hover 1s infinite ease-in-out;
                    }
                }
            }

            @include md{
                width: 100%;
                height: 291px;
            }

            @include lg{
                height: 342px;
            }

            &__dark-overlay{
                position: absolute;
                top: -245px;
                left: 50%;
                width: 328px;
                height: 328px;
                box-shadow: 2.43404px 0 4.86808px rgba(0, 0, 0, 0.25);
                transform: rotate(-45deg) translateX(calc(-50% - 66px));
                background-color: #23242C;
                z-index: 2;
                border-radius: 50px;
            }

            &__light-overlay{
                position: absolute;
                top: -228px;
                left: 50%;
                width: 328px;
                height: 328px;
                background-color: #7258F8;
                opacity: 0.2;
                transform: rotate(-45deg) translateX(calc(-50% - 66px));
                z-index: 1;
                border-radius: 50px;
            }

            &__icon{
                position: absolute;
                top: 73px;
                left: 50%;
                transform: translateX(-50%);
                width: 73px;
                height: 73px;
                z-index: 3;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            &__name{
                position: absolute;
                top: 150px;
                left: 50%;
                transform: translateX(-50%);
                font-weight: 600;
                font-size: 18px;
                line-height: 28px;
                color: $white;
                z-index: 3;
            }

            &__info{
                position: absolute;
                left: 24px;
                bottom: 24px;

                .date{
                    font-size: 12px;
                    line-height: 16px;
                    color: $secondary-text;
                }

                .category{
                    display: flex;
                    align-items: center;
                    margin-top: 8px;

                    &__image{
                        width: 24px;
                        height: 24px;
                        object-fit: contain;
                        margin-right: 4px;
                    }

                    &__name{
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
            }

            &__link{
                position: absolute;
                display: none;
                align-items: center;
                bottom: 24px;
                right: 24px;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: $link;
                transition: all $hover-transition-length ease-in-out;
                @include md{
                    display: flex;
                }

                svg{
                    margin-left: 4px;

                    path{
                        transition: color $hover-transition-length ease-in-out;
                    }
                }

                &:hover{
                    color: $hover;
                    path{
                        stroke: $hover;
                    }
                }
            }

            &__soon{
                position: absolute;
                bottom: 24px;
                right: 24px;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: $grey-beach;
            }

            &__fullLink {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 10;
            }


            &.coming-soon{
                position: relative;

                .coming-soon{

                    &__vector{
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;

                        img{
                            @include md{
                                width: 100%;
                            }
                        }
                    }

                    &__slug{
                        position: absolute;
                        width: 204px;
                        top: 50%;
                        left: 50%;
                        color: $secondary-text;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 28px;
                        text-align: center;
                        transform: translate(-50%, -50%);

                        @include md{
                            width: 318px;
                            font-size: 24px;
                            line-height: 36px;
                        }
                    }
                }

                .category{
                    position: absolute;
                    display: flex;
                    align-items: center;
                    column-gap: 4px;
                    z-index: 2;
                    bottom: 24px;
                    left: 50%;
                    transform: translateX(-50%);

                    @include md{
                        bottom: 32px;
                    }

                    &__image{
                        height: 24px;
                        width: 24px;

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }

                    &__name{
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
            }
        }
    }
}

.work{
    padding-top: 52px;

    @include sm{
        padding-top: 70px;
    }

    @include md{
        padding-top: 95px;
    }

    @include lg{
        padding-top: 105px;
        position: relative;
        padding-bottom: 200px;
    }

    &::after{
        @include lg{
            content: "";
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 315px;
            background-color: $grey-low;
            transform: skewY(8deg);
            transform-origin: right top;
            z-index: -1;

            @include xx{
                bottom: 40px;
                height: 420px;
            }
        }

    }

    &::before{
        @include lg{
            content: "";
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 303px;
            background-color: $grey-low;
            z-index: -1;
        }

        @include xx{
            height: 400px;
        }
    }

    .desktop-tab{
        display: none;

        @include lg{
            display: block;
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            color: $secondary-text;
            margin-bottom: 32px;
        }
    }

    .lined-title{
        @include lg{
            margin-bottom: 80px;
        }
    }

    &__tabs{
        display: flex;
        justify-content: space-between;
        margin-top: 40px;

        @include sm{
            margin-top: 48px;
        }

        @include md{
            width: 588px;
            margin-left: auto;
            margin-right: auto;
        }

        @include lg{
            display: none;
        }

        .tab-item{
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: $secondary-text;
            width: calc(50% - 5px);

            @include sm{
                width: calc(50% - 10px);
            }

            &::after{
                content: "";
                display: block;
                margin-top: 4px;
                width: 100%;
                height: 4px;
                background-color: $secondary-text;
            }

            &:hover{
                cursor: pointer;
            }

            &.active{
                color: $primary-text;

                &::after{
                    background-color: $link;
                }
            }
        }
    }


    &__panes{
        margin-top: 24px;

        @include md{
            margin-top: 32px;
        }

        .pane-content{
            display: flex;
            flex-direction: column;
            row-gap: 16px;

            @include sm{
                flex-direction: row;
                flex-wrap: wrap;
                row-gap: 24px;
                column-gap: 20px;
            }

            @include md{
                row-gap: 20px;
            }

            @include lg{
                column-gap: 30px;
                row-gap: 30px;
            }

            &[data-pane=workflow]{
                @include sm{
                    flex-direction: column;
                    flex-wrap: wrap;
                    max-width: 700px;
                    margin-left: auto;
                    margin-right: auto;
                    height: 910px;
                }

                @include md{
                    max-width: 892px;
                    height: 738px;
                }

                @include lg{
                    max-width: 1170px;
                    height: 760px;
                }

                &::before{
                    content: "";
                    flex-basis: 100%;
                    width: 0;
                    order: 2;
                }

                &::after{
                    content: "";
                    flex-basis: 100%;
                    width: 0;
                    order: 2;
                }
            }

            &:not(.active){
                display: none;

                @include lg{
                    display: flex;
                }
            }

            .principles-card{
                background-color: $grey-low;

                @include sm{
                    width: calc(50% - 10px);
                }

                @include md{
                    width: calc(33.3333% - 14px);
                }

                @include lg{
                    width: 170px;
                    background-color: unset;
                }

                &.success{
                    .principles-card__header{
                        background-color: $success;
                        transition: background-color .3s ease-in;

                        @include lg{
                            background-color: $grey-low;
                        }

                        & > span{
                            @include lg{
                                background-color: $success;
                            }
                        }

                        &:hover{
                            @include lg{
                                background-color: $success;
                            }
                        }
                    }
                }

                &.purple{
                    .principles-card__header{
                        background-color: #9B36EA;
                        transition: background-color .3s ease-in;

                        @include lg{
                            background-color: $grey-low;
                        }

                        & > span{
                            @include lg{
                                background-color: #9B36EA;
                            }
                        }

                        &:hover{
                            @include lg{
                                background-color: #9B36EA;
                            }
                        }
                    }
                }

                &.blue{
                    .principles-card__header{
                        background-color: #3658EA;
                        transition: background-color .3s ease-in;

                        @include lg{
                            background-color: $grey-low;
                        }

                        & > span{
                            @include lg{
                                background-color: #3658EA;
                            }
                        }

                        &:hover{
                            @include lg{
                                background-color: #3658EA;
                            }
                        }
                    }
                }

                &.rose{
                    .principles-card__header{
                        background-color: #EA3685;
                        transition: background-color .3s ease-in;

                        @include lg{
                            background-color: $grey-low;
                        }

                        & > span{
                            @include lg{
                                background-color: #EA3685;
                            }
                        }

                        &:hover{
                            @include lg{
                                background-color: #EA3685;
                            }
                        }
                    }
                }

                &.orange{
                    .principles-card__header{
                        background-color: #EA9B36;
                        transition: background-color .3s ease-in;

                        @include lg{
                            background-color: $grey-low;
                        }

                        & > span{
                            @include lg{
                                background-color: #EA9B36;
                            }
                        }

                        &:hover{
                            @include lg{
                                background-color: #EA9B36;
                            }
                        }
                    }
                }

                &.light-blue{
                    .principles-card__header{
                        background-color: #36DFEA;
                        transition: background-color .3s ease-in;

                        @include lg{
                            background-color: $grey-low;
                        }

                        & > span{
                            @include lg{
                                background-color: #36DFEA;
                            }
                        }

                        &:hover{
                            @include lg{
                                background-color: #36DFEA;
                            }
                        }
                    }
                }

                &__header{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    padding: 8px 12px;
                    background-color: $success;

                    & > span{
                        display: flex;
                        margin-right: 10px;
                    }

                    & > p{
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 28px;
                        color: $white;

                        @include lg{
                            transition: color $hover-transition-length ease-in-out;
                            color: $primary-text;
                        }
                    }

                    &:hover{
                        cursor: pointer;

                        & > p{
                            @include lg{
                                color: $white;
                            }
                        }

                    }

                    &:hover + .principles-card__bottom{
                        transition: opacity $hover-transition-length ease-in;
                        opacity: 1;
                    }
                }

                &__bottom{
                    font-size: 14px;
                    line-height: 20px;
                    color: $primary-text;
                    padding: 16px 12px;

                    @include lg{
                        opacity: 0;
                        background-color: $grey-low;
                    }
                }
            }

            .workflow-card{
                display: flex;
                justify-content: space-between;
                padding: 24px;
                background-color: $white;
                width: 100%;

                @include sm{
                    position: relative;
                    width: calc(50% - 10px);
                    height: fit-content;
                }

                @include lg{
                    width: 370px;
                }

                &:nth-child(4){

                    @include lg{
                        margin-top: 60px;
                    }
                }

                &:nth-child(7){
                    @include lg{
                        margin-top: 120px;
                    }
                }

                &__image{
                    width: 60px;
                    height: 60px;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                &__text{
                    display: flex;
                    flex-direction: column;
                    row-gap: 8px;
                    width: calc(100% - 84px);
                }

                &__title{
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 28px;
                }

                &__description{
                    font-size: 14px;
                    line-height: 20px;
                    color: $secondary-text;

                    @include lg{
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
            }

            .break{
                display: none;

                @include lg{
                    flex-basis: 100%;
                    height: 0;
                    order: 5;
                }
            }
        }
    }
}

.team{
    padding: 52px 0;

    @include sm{
        padding: 70px 0 100px;
    }

    @include md{
        padding: 95px 0 120px;
    }

    @include lg{
        padding: 105px 0 215px;
    }

    &__wrapper{

        @include lg{
            position: relative;
            max-width: 1170px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__title{
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        margin: 40px 15px 12px;

        @include sm{
            margin: 48px 34px 12px;
        }

        @include md{
            font-size: 24px;
            line-height: 36px;
        }

        @include lg{
            position: absolute;
            left: calc(50% + 15px);
            top: 0;
            font-size: 36px;
            line-height: 44px;
            margin: 0;
        }
    }

    &__text{
        font-size: 16px;
        line-height: 24px;
        margin: 0 15px;
        color: $secondary-text;

        @include sm{
            margin: 0 34px;
        }

        @include lg{
            position: absolute;
            left: calc(50% + 15px);
            top: 104px;
            margin: 0;
            width: 570px;
        }
    }

    &__slider{
        margin-left: 15px;
        margin-top: 24px;

        @include sm{
            margin-left: 34px;
        }

        @include lg{
            max-width: 1170px;
            margin-top: 80px;
            margin-left: auto;
            margin-right: auto;
        }

        .swiper{
            padding-bottom: 35px;

            @include md{
                padding-bottom: 45px;
            }

            &-slide{
                width: 286px;
                height: auto;

                @include sm{
                    width: 250px;
                }

                @include md{
                    width: 284px;
                }

                @include lg{
                    width: 270px;
                }

                &:nth-child(2){
                    @include lg{
                        margin-top: 160px;
                    }
                }

                &:nth-child(3){
                    @include lg{
                        margin-top: 320px;
                    }
                }

                &:nth-child(4){
                    margin-right: 15px!important;

                    @include sm{
                        margin-right: 34px!important;
                    }

                    @include lg{
                        margin-top: 478px;
                        margin-right: 0!important;
                    }
                }

                &:nth-child(5) {
                    @include lg {
                        margin-left: 300px;
                        margin-top: -160px;
                    }
                }

                &:nth-child(6) {
                    @include lg {
                        margin-top: 0;
                    }
                }

                &:nth-child(7) {
                    @include lg {
                        margin-top: 160px;
                    }
                    .border-left-bottom, .border-right-bottom {
                        height: 310px;
                    }
                }
            }

            &-pagination{
                bottom: 0;

                @include lg {
                    display: none;
                }
            }

            &-wrapper {
                @include lg {
                    flex-flow: wrap;
                    column-gap: 30px;
                }
            }
        }

        .card-item{

            &__top{
                position: relative;
                height: 318px;
                background-color: $white;
                overflow: hidden;

                .image-place{
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    background-position-y: bottom;
                    background-repeat: no-repeat;
                    filter: grayscale(1);
                    transition: filter $hover-transition-length ease-in-out;
                }

                &:hover {
                    .image-place {
                        filter: grayscale(0);
                    }
                }

                .border{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    border-top: 25px solid $grey-low;
                    border-bottom: 25px solid $grey-low;

                    @include sm{
                        border-top: 20px solid $grey-low;
                        border-bottom: 20px solid $grey-low;
                    }

                    @include md{
                        border-top: 25px solid $grey-low;
                        border-bottom: 25px solid $grey-low;
                    }
                }

                .border-left-top, .border-right-top{
                    position: absolute;
                    width: 25px;
                    height: 80px;
                    background-color: $grey-low;

                    @include sm{
                        width: 20px;
                    }

                    @include md{
                        width: 25px;
                    }
                }

                .border-left-bottom, .border-right-bottom {
                    position: absolute;
                    width: 25px;
                    height: 180px;
                    background-color: $grey-low;

                    @include sm{
                        width: 20px;
                    }

                    @include md{
                        width: 25px;
                    }
                }

                .border-left-top{
                    top: 0;
                    bottom: unset;
                    left: 0;
                    transform: skewY(45deg);
                }

                .border-right-top{
                    right: 0;
                    top: unset;
                    bottom: 0;
                    transform: skewY(45deg);
                }

                .border-left-bottom{
                    top: unset;
                    bottom: 0;
                    left: 0;
                    transform: skewY(45deg);
                }

                .border-right-bottom{
                    right: 0;
                    top: 0;
                    bottom: unset;
                    transform: skewY(45deg);
                }
            }

            &__bottom{
                background-color: $white;
                padding: 16px 24px 24px;
            }

            &__name{
                font-weight: 600;
                font-size: 18px;
                line-height: 28px;
            }

            &__position{
                font-size: 14px;
                line-height: 20px;
                color: $secondary-text;
                margin-top: 4px;
            }

            &__socials{
                display: flex;
                margin-top: 16px;
                column-gap: 16px;

                path{
                    transition: all $hover-transition-length ease-in-out;
                }

                a:hover path{
                    fill: $link;
                }
            }


            &--join{
                position: relative;
                height: 100%;

                & > a{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 2;
                }

                .card-item__top{
                    display: flex;
                    flex-direction: column;
                    row-gap: 22px;
                    align-items: center;
                    justify-content: center;
                    background-color: $white;
                    height: 100%;

                    @include sm{
                        height: 453px;
                    }

                    @include md{
                        height: 517px;
                    }

                    @include lg{
                        height: 453px;
                    }

                    & > span{
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 28px;
                        color: $link;
                    }
                }

                &:hover {
                    .border {
                        border-color: $hover;
                    }
                    .border-left-top, .border-right-top, .border-left-bottom, .border-right-bottom {
                        background-color: $hover;
                    }

                    span {
                        color: $hover;
                    }

                    svg path {
                        fill: $hover;
                    }
                }

                &:active {
                    .border {
                        border-color: $pressed;
                    }
                    .border-left-top, .border-right-top, .border-left-bottom, .border-right-bottom {
                        background-color: #EF7168;
                    }

                    span {
                        color: #EF7168;
                    }

                    svg path {
                        fill: #EF7168;
                    }
                }
            }
        }
    }

    &__contact{
        display: none;

        @include lg{
            position: absolute;
            display: flex;
            flex-direction: column;
            top: 526px;
            left: 0;
            width: 270px;
        }

        &-header{
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            margin: 25px 0 4px;
        }

        &-text{
            font-size: 16px;
            line-height: 24px;
            color: $secondary-text;
        }
    }
}

.contacts{
    position: relative;
    height: 375px;
    background-color: $grey-low;
    //opacity: .8;
    padding: 90px 0 56px;

    @include sm{
        height: 422px;
        padding: 78px 0;
    }

    @include lg{
        height: 425px;
        padding: 80px 0;
    }

    &::after{
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: inherit;
        transform: skewY(4deg);
        transform-origin: right top;
        z-index: -1;
    }

    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;

        @include sm{
            width: 570px;
            margin: 0 auto;
        }
    }

    &__title{
        font-family: 'Titillium Web', sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        margin: 24px 0 12px;

        @include sm{
            font-family: 'Prompt', sans-serif;
            font-size: 24px;
            line-height: 36px;
            margin: 60px 0 12px;
        }
    }

    &__text{
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: $secondary-text;
    }

    &__options{
        display: flex;
        align-items: center;
        column-gap: 25px;
        margin-top: 32px;

        .option-item{

            & > a{
                display: flex;

                path{
                    transition: all $hover-transition-length ease-in-out;
                }

                &:hover path{
                    fill: $hover;
                }
            }
        }
    }
}

.popup {
    &.contact .content {
        @include md {
            max-width: 570px;
        }
    }

    .contact {

        &-header {
            padding: 12px 15px;
            display: flex;
            border-bottom: 1px solid $grey-low;

            @include sm {
                padding: 32px 34px;
            }

            @include md {
                padding: 32px;
            }

            .logo {
                width: 72px;
                height: 72px;
                min-width: 72px;

                @include sm {
                    width: 68px;
                    height: 68px;
                    min-width: 68px;
                }
            }

            .info {
                margin: 0 12px;
                max-width: 206px;

                @include sm {
                    max-width: none;
                }

                .title {
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 28px;
                    color: $primary-text;

                    @include sm {
                        font-size: 24px;
                        line-height: 36px;
                    }
                }
                .font-titanium {
                    margin-top: 4px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: $secondary-text;
                    letter-spacing: 0.01em;

                    @include sm {
                        font-size: 18px;
                        line-height: 28px;
                        letter-spacing: normal;
                    }

                    a {
                        color: $secondary;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            [data-role="close"] {
                width: 24px;
                height: 24px;
                min-width: 24px;
                cursor: pointer;
                margin-left: auto;

                &:hover {
                    path {
                        fill: $hover;
                    }
                }

                &:active {
                    path {
                        fill: #EF7168;
                    }
                }
            }
        }

        &-form {
            padding: 16px 15px 0;
            display: flex;
            flex-flow: column;
            height: 100%;
            position: relative;

            @include sm {
                padding: 72px 34px 0;
            }

            @include md {
                padding: 32px 32px 0;
            }

            .name {
                font-weight: 600;
                font-size: 18px;
                line-height: 28px;
                color: $primary-text;
            }

            .list {
                margin-top: 12px;

                @include sm {
                    margin-top: 16px;
                }

                @include md {
                    margin-bottom: 0;
                }

                li {
                    cursor: pointer;
                    position: relative;
                    padding: 4px 12px;
                    background: rgba(234, 65, 54, 0.1);
                    display: flex;
                    align-items: center;
                    column-gap: 4px;

                    &:not(:first-child) {
                        margin-top: 0;
                    }

                    &:hover {
                        background: $link;

                        svg path {
                            fill: rgba(255,255,255,0.5);
                        }

                        label {
                            color: #fff;
                        }
                    }

                    svg {
                        width: 16px;
                        height: 16px;
                        min-width: 16px;

                        path {
                            fill: $link;
                        }
                    }

                    input {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        margin: 0;
                        opacity: 0;
                        cursor: pointer;
                    }

                    label {
                        display: block;
                        font-size: 18px;
                        line-height: 28px;
                        font-weight: 400;
                        color: $primary-text;
                    }

                    &.active {
                        background: $secondary;

                        label {
                            color: $white;
                        }

                        svg path{
                            fill: rgba(255, 255, 255, 0.5);
                        }

                        span:after {
                            content: '';
                            position: absolute;
                            width: 12px;
                            height: 12px;
                            top: 4px;
                            left: 4px;
                            background-color: $link;
                        }

                        &:hover {
                            background: $link;

                            svg path {
                                fill: rgba(255,255,255,0.5);
                            }

                            label {
                                color: #fff;
                            }
                        }
                    }
                }

                .items {
                    display: flex;
                    flex-flow: wrap;
                    gap: 8px 12px;
                    padding: 0;
                    margin: 0;
                    background-color: inherit;

                    @include sm {
                        gap: 16px 12px;
                    }
                }
            }

            .input-group {
                margin-top: 32px;
                position: relative;

                label {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    color: $secondary-text;
                    position: absolute;
                    top: 12px;
                    left: 16px;
                    transition: all $hover-transition-length ease-in-out;
                    pointer-events: none;

                    &.filled {
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 16px;
                        color: $secondary-text;
                        top: -20px;
                        left: 0;
                    }
                }

                span {
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 16px;
                    color: $error;
                    position: absolute;
                    top: -20px;
                    right: -0;
                    display: none;
                }

                &.error {
                    input {
                        border: 1px solid $error;
                    }

                    span {
                        display: block;
                    }
                }
            }

            input,
            textarea{
                padding: 12px 16px;
                background: #F3F3F4;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: $primary-text;
                width: 100%;
                border: 1px solid #F3F3F4;

                &:hover {
                    color: $primary-text;

                    & + label {
                        color: $primary-text;
                    }
                }

                &:focus {
                    border: 1px solid $secondary;

                    + label {
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 16px;
                        color: $secondary-text;
                        top: -20px;
                        left: 0;
                    }
                }
            }

            textarea {
                height: 50px;
                min-height: 50px;
                resize: none;
                margin-bottom: 24px;
                overflow: hidden;
                max-height: 140px;

                @include md {
                    margin-bottom: 0;
                }
            }

            .buttons {
                display: flex;
                justify-content: space-between;
                margin-top: auto;
                position: sticky;
                bottom: 0;
                background-color: #fff;
                padding-top: 24px;
                padding-bottom: 24px;

                @include md {
                    padding-top: 44px;
                    padding-bottom: 44px;
                }

                .submit,
                .attach {
                    width: calc(50% - 8px);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    color: $white;
                    background: $link;
                    padding: 12px 0;
                }

                .submit {
                    &:hover {
                        background: $hover;
                    }
                    &:active {
                        background: #EF7168;
                    }
                }

                .attach {
                    color: $primary-text;
                    background: $grey-low;
                    cursor: pointer;

                    input {
                        display: none;
                    }

                    svg {
                        margin-left: 4px;
                    }

                    span {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        max-width: 75%;
                    }
                    &:hover {
                        background: $grey-beach;
                    }
                    &:active {
                        background: $grey-beach;
                        color: #fff;

                        svg path {
                            fill: #fff;
                        }
                    }
                }
            }
        }

        &-dialog {
            flex-flow: column;
            display: flex;
            height: var(--vh);

            @include sm {
                height: 100%;
            }

            &.hide {
                display: none;
            }
        }

        /*&-success {
            height: var(--vh);
            width: 100%;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            display: flex;
            min-height: 400px;

            @include sm {
                height: 100vh;
            }

            @include md {
                max-width: 570px;
                max-height: 800px;
                height: calc(400px + 20vh);
            }

            &.hide {
                display: none;
            }

            svg[data-role="close"] {
                position: absolute;
                top: 15px;
                right: 15px;
                cursor: pointer;

                @include sm {
                    top: 32px;
                    right: 32px;
                }

                &:hover {
                    path {
                        fill: $hover;
                    }
                }

                &:active {
                    path {
                        fill: #EF7168;
                    }
                }
            }

            .info {
                margin-top: auto;

                @include sm {
                    margin-top: inherit;
                }

                img {
                    width: 108px;
                    height: 108px;
                    object-fit: contain;
                    display: flex;
                    margin: auto;

                    @include sm {
                        width: 160px;
                        height: 160px;
                    }
                }

                .title {
                    margin-top: 24px;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 28px;
                    color: $primary-text;
                    text-align: center;

                    @include sm {
                        margin-top: 48px;
                        font-size: 24px;
                        line-height: 36px;
                    }
                }

                .font-titanium {
                    margin-top: 12px;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 28px;
                    letter-spacing: normal;
                    color: $secondary-text;
                    text-align: center;
                }
            }

            .success {
                background: $link;
                padding: 8px 0;
                font-weight: 600;
                font-size: 14px;
                line-height: 20px;
                color: #fff;
                width: calc(100% - 30px);
                margin: auto auto 24px;

                @include sm {
                    padding: 12px 24px;
                    font-size: 16px;
                    line-height: 24px;
                    max-width: 352px;
                    margin: 48px auto 0;
                }

                &:hover {
                    background: $hover;
                }

                &:active {
                    background: #EF7168;
                }
            }
        }*/
    }
}

.home{
    .products{
        .lined-title.products-title-product{
            display: none;
        }
    }
}

@keyframes arrow-hover {
    0%, 100% {
        transform: translateX(0);
    }
    50%{
        transform: translateX(5px);
    }
}
