.product.xrave{
    .products{
        .xrave,
        .priceex{
            display: none;
        }
        .exrates{
            order: 1;
        }
        .raveos{
            top: 0;
        }
    }
}
